*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(34, 34, 34, 0.4);
}

.share{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    border: 5px solid rgb(255, 215, 0, 0.6);
    cursor: pointer;
    box-shadow: 2px 2px 5px rgb(255, 255, 255, 0.3) , 0px 2px 5px rgb(255, 255, 255, 0.6);
    border-radius: 100%;
    padding: 0.8em;
    animation: pop 1s ease-out 0s infinite alternate both;
    -webkit-animation: pop 1s ease-out 0s infinite alternate both;
    -moz-animation: pop 1s ease-out 0s infinite alternate both;
    -ms-animation: pop 1s ease-out 0s infinite alternate both;
    -o-animation: pop 1s ease-out 0s infinite alternate both;
}

@keyframes pop{
    0% {transform: scale(0.5);}
    100% {transform: scale(1);}

}

.share img{
    width: 4em;
    height: auto;
}

.wrapper{
    opacity: 0;
    display: grid;
    gap: 4em;
    grid-template-columns: repeat(5, 1fr);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    border: 2px solid rgb(255, 215, 0, 0.6);
    padding: 1em;
    border-radius: 4em;
    box-shadow: 0px 2px 5px rgb(255, 255, 255, 0.3) , 0px 2px 5px rgb(255, 255, 255, 0.6);
    transition: opacity 2s ease-out;
}

.wrapper .cancel{
    display: grid;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(235, 79, 2, 0.6);
    background-color: rgba(235, 79, 2, 0.6) ;
    padding: 0.2em;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgb(255, 255, 255, 0.3) ;
    animation: rotate 1s linear 5s infinite;
    -webkit-animation: rotate 1s linear 5s infinite;
    -moz-animation: rotate 1s linear 5s infinite;
    -ms-animation: rotate 1s linear 5s infinite;
    -o-animation: rotate 1s linear 5s infinite;
}

.share-remove{
    display: none;
}

@keyframes rotate{
    100% {transform: rotate(360deg);}
}

.wrapper .social{
    border: 0.2em dotted rgb(255, 215, 0, 0.4);
    border-radius: 100%;
    box-shadow: 0px 2px 5px rgb(255, 255, 255, 0.3) , 0px 2px 5px rgb(255, 255, 255, 0.6);
    padding: 0.05em;
    background-color: rgb(34, 34, 34, 0.3);
    display: grid;
    justify-content: center;
    align-items: center;
    transition: all 2s;
}

.social:hover{
    background-color: #fff;
    transform: scale(0.8);
}

.wrapper img{
    width: 2em;
    height: auto;
}

@media screen and (max-width: 768px){
    .wrapper{
        gap: 2em;
    }
    
}