*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(105, 21, 21);
    text-align: center;
}

.wrapper{
    background-image: url('images/gold.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border: 1px dotted #fff;
    border-radius: 10px;
    z-index: -1;
}

.number{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: #fff;
    font-size: 5rem;
}