*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
    color: #000000;
    font-size: 1.2rem;
    font-weight: 600;
}

.wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: rgb(19, 94, 19);
    width: 30%;
}

header h1{
    font-size: 1.2rem;
    padding: 0.6em 0;
    text-align: center;
    background-color: rgb(24, 3, 3);
    color: #fff;
}

.wrapper .input{
    margin: 1em;
    text-align: right;
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: rgb(24, 3, 3, 0.8);
}

.input .input-label{
    text-align: left;
    margin-top: 1em;
}

.input-label label{
    line-height: 2.5em;
}

.input-value input{
    height: 30px;
    width: 50%;
    margin-top: 1em;
    border-radius: 6px;
    border: 1px outset #ccc;
}

.input-value input:nth-child(1){
    width: 90%;
}


.input .input-value{
    text-align: right;
    margin-top: 1em;
}

.button{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20%;
}

.button .calculate, .reset{
    width: 90px;
    height: 34px;
    font-size: 1rem;
    font-weight: 600;
    border: 1px outset #333;
    border-radius: 4px;
}

.wrapper .result{
    width: 100%;
    display: grid;
    gap: 24%;
    grid-template-columns: 2fr 1fr;
    color: #fff;
    margin: 1em;
}

.result .result-label p{
    margin-top: 1em;
}

.result-value .value{
    margin-top: 1em;
}

@media screen and (max-width: 768px){
    .wrapper{
        width: 100%;
    }
}