:root{
    --background-color : #D96846;
    --btn-color : #596235;
    --head-text-color : #fff;
    --normal-text : #CDCBD6;
    --border-color : #2F3020;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto' sans-serif;
    margin: 0 auto;
    background-color: var(--background-color);
    height: 100vh;
}

.wrapper{
    margin: 0 auto;
    width: 100%;
    padding:0 4%;
    height: 100vh; 
}

.wrapper header{
    display: flex;
    justify-content:space-between;
    height: 4em;
    align-items: center;
}

header .logo{
    font-size: 1.6em;
    color: var(--btn-color);
    text-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    font-weight: 700;
}

.logo::before{
    content: 'D';
    font-size: 3rem;
    text-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}

header .menus{
    display: flex;
    flex: 1;
    gap: 5%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
}

.menus a{
    text-decoration: none;
}

.menus .menu{
    font-size: 1.8rem;
    color: var(--head-text-color);
    text-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    display: inline-block;
}

.menus .img-menu{
    display: inline;
    
}

.img-menu img{
    width: 1.4em;
    height: auto;
    margin-right: 10px;
    filter: invert(15%) sepia(13%) saturate(1091%) hue-rotate(25deg) brightness(96%) contrast(90%);
}

header .dark-btn{
    width: 2em;
    height: 1.2em;
    background-color: var(--btn-color);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 0.1em;
    display: flex;
    justify-content: start;

}

.dark-btn .circle{
    display: grid;
    width: 50%;
    height: 100%;
    border-radius: 100%;
    background-color: var(--head-text-color);
}

.wrapper main{
    margin-top: 3%;
    width: 100%;
    display: grid;
    justify-content: center;
}

.wrapper .line{
    height: 0.02em;
    border-color: var(--border-color);
    background-color: var(--btn-color);
}

main .intro{
    text-align: center;
    line-height: 5em;
}

.intro .emoji{
    font-size: 2.4rem;
    color: var(--normal-text);
}

.intro .name{
    font-size: 4rem;
    color: var(--normal-text);
    text-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}

main .what-i-do{
    text-align: center;
    margin-top: 4%;
}

.what-i-do .auto-text{
    font-size: 2.6rem;
    padding: 0.5em;
    background-color: var(--head-text-color);
    width: 70%;
    margin: auto;
    border: 0.1em dotted var(--border-color);
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    border-radius: 1em;
    white-space: nowrap;
}

.what-i-do .skills{
    display: flex;
    justify-content: center;
    gap: 6px;
    flex: 1;
    text-align: center;
    margin-top: 5%;
    font-size: 1rem;
    color: var(--normal-text);
}

main .cv{
    margin:4% auto;
    display: flex;
    justify-content: center;
    gap: 15px;
    
}

.cv button{
    height: 3em;
    width: 7em;
    border-radius: 4em;
    outline: none;
    background-color: var(--btn-color);
    border-color: var(--border-color);
    color: var(--head-text-color);
    cursor: pointer;
}

.wrapper footer{
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50% , -0);
}

footer .foot{
    display: flex;
    justify-content: center;
    flex: 1;
    gap: 4em;
    width: 100%;
}

.social img{
    width: 2em;
    height: auto;
    color: var(--head-text-color);
    background-color: var(--head-text-color);
    border-radius: 100%;
    border: 0.2em solid;
    border-color: var(--border-color);
    box-shadow: 1px 1px 4px #CDCBD6 , 1px 1px 4px #CDCBD6;
}

.wrapper .menu-handle{
    display: none;
}

/*----------About ------------*/

main .drignet{
    margin: auto;
    display: grid;
    justify-content: center;
}

.drignet img{
    width: 20em;
    height: auto;
    border-radius: 100%;
    margin: auto;
}

.drignet figcaption{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1em;
    margin-bottom: 1em;
    color: var(--head-text-color);
    border: 0.05em solid var(--border-color);
    background-color: var(--btn-color);
    padding: 0.5em 0;
    border-radius: 10px;
}

main .profile-para{
    margin: auto;
    font-size: 1.4rem;
    color: var(--normal-text);
    padding: 2%;
    background-color: rgb(89, 98, 53, 0.2);
    width: 50%;
}

.wrapper .space{
    width: 100%;
    height: 4em;
}

/*--------- project ---------*/

.wrapper .project{
    width: 80%;
    margin: auto;
}

.project section{
    background-color: rgb(89, 98, 53, 0.2);
    border-radius: 2em;
    padding: 1em 2em;
    margin-bottom: 2em;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}

.project .title{
    text-align: center;
    margin: 2em 0;
    font-size: 2.4rem;
    color: var(--head-text-color);
}

.project .icons{
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
    margin: 2em 0;
    width: 100%;
}

.icons .left{
    justify-content: left;
    align-items: center; 
}

.icons .right{
    display: flex;
    gap: 1em;
    justify-content: right;
    align-items: center;
}

.left img{
    width: 4em;
    height: auto;
    filter: invert(15%) sepia(13%) saturate(1091%) hue-rotate(25deg) brightness(96%) contrast(90%);
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    border-radius: 15%;
    border: 0.01em solid var(--head-text-color);
}

.right img{
    width: 20px;
    height: auto;
    filter: invert(15%) sepia(13%) saturate(1091%) hue-rotate(25deg) brightness(96%) contrast(90%);
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
    border-radius: 100%;
    border: 0.01em solid var(--head-text-color);
}

.project h1{
    font-size: 2rem;
    color: var(--head-text-color);
    text-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}

.project p{
    font-size: 1.2rem;
    padding: 0.6em 0;
    color: var(--normal-text);
}

.project .btns{
    display: flex;
    justify-content: start;
    gap: 3em;
    margin-top: 2em;
}

.btns button{
    height: 40px;
    width: 100px;
    background-color: var(--btn-color);
    border: 0.2em solid var(--border-color);
    border-radius: 10px;
    margin-bottom: 2em;
    color: var(--head-text-color);
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}

/*----------contact ------------*/

.wrapper .contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 5% 10%;
    gap: 2em;
}

.contact .contact-left{
    margin: auto;
}

.contact-left img{
    width: 100%;
    height: auto;
}

.contact-right h1{
    color: var(--head-text-color);
    font-size: 3rem;
    padding: 0 0 0.4em 0;
}

.contact-right p{
    color: var(--normal-text);
    font-size: 1.2rem;
    padding: 0.1em 0.1em 2em 0.1em;
}

.contact figure{
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}

.contact-right .share{
    justify-content: center;
    margin: auto;
    margin-top: 2em;
    background-color: rgb(89, 98, 53, 0.2);
    width: 5em;
    border-radius: 100%;
}

.share img{
    width: 3em;
    height: auto;
    padding: 1em 0;
}

.contact-right img{
    filter: invert(15%) sepia(13%) saturate(1091%) hue-rotate(25deg) brightness(96%) contrast(90%);
}

.contact-right figcaption{
    color: var(--head-text-color)
}

.contact-right .contact-socials{
    display: none;
    flex: 1;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    background-color: var(--head-text-color);
    border-radius: 4em;
    padding: 1em;
    gap: 3em;
}

.contact-right .show-social{
    display: flex;
}

.contact-socials img{
    border: 0.4em solid var(--border-color);
    border-radius: 100%;
    padding: 0.2em;
    background-color: var(--btn-color);
}

body .dark-mode-control{
    justify-content: end;
}

.dark-mode{
    background-color: #222;
    color: #e6e6e6;
}


/*----------@media Home ------------*/

@media screen and (max-width: 768px){
        header .menus{
            display: none;
            justify-content: center;
            position: fixed;
            top: 12%;
            left: 0;
            text-decoration: none;
            list-style: none;
            background-color: rgb(89, 98, 53, 0.2);
            border: 1px solid var(--border-color);
            border-top-right-radius: 2em;
            border-bottom-right-radius: 2em;
            padding: 2em;
    }

    header .show{
        display: grid;
    }

    .menus a{
        display: inline;
        margin-bottom: 2em;
    }
    

    .intro .emoji{
        font-size: 1.8rem;
    }

    .intro .name{
        font-size: 2rem;
    }

    main .what-i-do{
        text-align: center;
        margin-top: 4%;
        width: 100%;
    }
    
    .what-i-do .auto-text{
        font-size: 2.4rem;
        padding: 0.3em;
        width: 90%;
    }

    .what-i-do .skills{
        gap: 3px;
        margin-top: 6%;
        font-size: 0.7rem;
    }

    main .cv{
        margin:12% auto;
        
    }

    footer .foot{
        margin: 0 4% 0 4%;
        gap: 2em;
    }

    .wrapper .menu-handle{
        display: block;
        position: fixed;
        top: 35%;
        left: 0%;
    }

    .menu-handle .open-close{
        width: 3em;
        height: 8em;
        padding: 1em;
        background-color: var(--btn-color);
        border-top-right-radius: 2em;
        border-bottom-right-radius: 2em;
        border: 1px solid var(--border-color);
    }

    .menu-handle .open-close strong{
        writing-mode: vertical-rl;
        font-size: 1em;
        color: var(--head-text-color);
    }
    

}

/*----------@media About ------------*/
@media screen and (max-width: 768px){
main .profile-para{
    width: 80%;
}

.drignet img{
    width: 15em;
    height: auto;
}

.drignet figcaption{
    max-width: 100%;
    margin: auto;
    padding: 1em;
    margin-bottom: 1em;
}

footer .foot{
    margin: auto;
}

}

/*---------@media contact ----------*/

@media screen and (max-width:768px){
    .wrapper .contact{
        display: grid;
        grid-template-columns: 1fr;
        padding: 10%;
    }

    .contact .contact-left{
        margin: auto;
        margin-top: 1em;
    }

    .contact-right h1{
        text-align: center;
        font-size: 2.5em;
        white-space: nowrap;
    }

    .contact-right figure{
        justify-content: center;
    }
}
